<link rel="stylesheet" type="text/css" href="{{ store_url }}catalog/view/theme/default/stylesheet/paynow.css">
<h2>{{ text_instruction }}</h2>
<p>{{ text_description }}</p>

<form action="{{ action }}" method="post">
    <input type="hidden" name="text_config_one" value="{{ text_config_one }}" />
    <input type="hidden" name="text_config_two" value="{{ text_config_two }}" />
    <input type="hidden" name="orderid" value="{{ orderid }}" />
    <input type="hidden" name="callbackurl" value="{{ callbackurl }}" />
    <input type="hidden" name="orderdate" value="{{ orderdate }}" />
    <input type="hidden" name="currency" value="{{ currency }}" />
    <input type="hidden" name="orderamount" value="{{ orderamount }}" />
    <input type="hidden" name="billemail" value="{{ billemail }}" />
    <input type="hidden" name="billphone" value="{{ billphone }}" />
    <input type="hidden" name="billaddress" value="{{ billaddress }}" />
    <input type="hidden" name="billcountry" value="{{ billcountry }}" />
    <input type="hidden" name="billprovince" value="{{ billprovince }}" />
    <input type="hidden" name="billcity" value="{{ billcity }}" />
    <input type="hidden" name="billpost" value="{{ billpost }}" />
    <input type="hidden" name="deliveryname" value="{{ deliveryname }}" />
    <input type="hidden" name="deliveryaddress" value="{{ deliveryaddress }}" />
    <input type="hidden" name="deliverycity" value="{{ deliverycity }}" />
    <input type="hidden" name="deliverycountry" value="{{ deliverycountry }}" />
    <input type="hidden" name="deliveryprovince" value="{{ deliveryprovince }}" />
    <input type="hidden" name="deliveryemail" value="{{ deliveryemail }}" />
    <input type="hidden" name="deliveryphone" value="{{ deliveryphone }}" />
    <input type="hidden" name="deliverypost" value="{{ deliverypost }}" />

    <div class="paynowBarcodeWrapper">
        <img id='barcode'
             src="https://api.qrserver.com/v1/create-qr-code/?data={{ barcode_paynow }}&amp;size=200x200"
             alt="Scan this barcode to pay"
             title="Scan this barcode to pay"
             width="200"
             height="200" />
    </div>

    <div class="buttons">
        <div class="pull-right">
            <input type="button" value="{{ button_confirm }}" id="button-confirm" data-loading-text="{{ text_loading }}" class="btn btn-primary" />
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#button-confirm').on('click', function() {
        $.ajax({
            url: 'index.php?route=extension/payment/paynow/confirm',
            dataType: 'json',
            beforeSend: function() {
                $('#button-confirm').button('loading');
            },
            complete: function() {
                $('#button-confirm').button('reset');
            },
            success: function(json) {
                if (json['redirect']) {
                    location = json['redirect'];
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });
</script>
